EVAL_GITHUB_USERNAME=your-github-username
EVAL_MOBILE_NO=9999999999
EVAL_CLIENT_ID=
EVAL_CLIENT_SECRET=
EVAL_EMAIL=you@example.com
EVAL_ROLL_NO=yourrollnumber
EVAL_ACCESS_CODE=your-access-code
EVAL_NAME=Your Name
TOP_N=10
